*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #eeede7ae;
}

.main-content{
    padding: 3% 0;
    min-height:63vh;
     
 }
 .wrapper{
   padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

/* table css for manage admin */
.tbl-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
   
}

/* css for button in manage-admin page */
.btn-primary{
    background-color:#1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    /* background-color:#7bed9f; */
    padding: 10px 20px!important;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: none;
    box-shadow: rgba(23, 230, 133, 0.25) 0px 30px 60px -12px inset, rgb(23, 230, 133) 0px 18px 36px -18px inset;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color:#ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}
/* css for changing message color in manage eployee page */
.success{
    color: #2ed573;

}
.error{
    color:#ff4757;
}

/* css for add-admin */

form .table_thirty{
    width: 45%;
    /* border: 1px solid black; */
    
}
form .table_thirty tr td input{
    padding: 1%;
    outline: none;
}

form .table_thirty tr td textarea{
    padding: 1%;
    outline: none;

}
form .table_thirty tr td select{
    padding: 1%;
    outline: none;
}
.col-4{
    width:18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* css for footer */
.footer{
 
    background-color: white;
    color: #ff4757;
    padding: 10px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
}

.success{
    color: #2ed573;
}
.add_category{
    position:absolute;
    top: 150px;
    right: 130px;
   
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* padding: 0; */
    box-shadow: rgba(23, 230, 133, 0.25) 0px 30px 60px -12px inset, rgb(23, 230, 133) 0px 18px 36px -18px inset;
}
.add_category:hover{
    color:black;
}
.fa-solid{
    padding:10px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
   
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    /* background-color:#47B4D1; */
}
.text-right{
    text-align: right;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
.navbar{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.img-responsive{
    height: 80px;
    width: 80px;
}